{% load static %}

{# load all styles #}
<link rel="icon" href="{% static config.backend.favicon %}" type="image/png" />
<link rel="stylesheet" type="text/css" href="{% static 'backend/styling/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'backend/styling/fontawesome/css/all.min.css' %}" />
{# <link rel="stylesheet" type="text/css" href="{% static 'backend/scripting/jquery-ui/jquery-ui.min.css' %}" /> #}
<link rel="stylesheet" type="text/css" href="{% static 'backend/scripting/datetime-picker/jquery.datetimepicker.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'backend/styling/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'backend/scripting/sweetalert/sweetalert2.min.css' %}" />

{# load all scripts #}
<script type="text/javascript" src="{% static 'backend/scripting/jquery.min.js' %}"></script>
{# <script type="text/javascript" src="{% static 'backend/scripting/jquery-ui/jquery-ui.min.js' %}"></script> #}
<script type="text/javascript" src="{% static 'backend/scripting/datetime-picker/jquery.datetimepicker.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/scripting/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/styling/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{# custom fonts #}
<link rel="stylesheet" type="text/css" href="{% static 'backend/styling/fonts/poppins.css' %}" />

{% include 'backend/elements/global_assets.html' %}

<script type="text/javascript" src="{% static 'backend/scripting/sweetalert/sweetalert2.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/scripting/script.js' %}"></script>
