django==3.2
djangorestframework
requests
pillow
bs4
Weasyprint
django-crispy-forms
crispy_bootstrap5
django-ckeditor
django-simple-captcha
libsass
lxml
SOAPpy
django-autocomplete-light
django-debug-toolbar
pyquery
pymysql
django-jazzmin
celery
django-formset-js
mysqlclient
redis
sweetify
psutil
django-nested-admin
daphne
channels
validators
pyyaml