django==3.2
djangorestframework
requests
pillow
bs4
Weasyprint
django-crispy-forms
crispy_bootstrap5
django-ckeditor
django-simple-captcha
libsass
lxml
SOAPpy
django-autocomplete-light
django-debug-toolbar
html-creator
python-barcode
pyquery
pymysql
django-jazzmin
celery
django-mptt
django-formset-js
django-celery-email
mysqlclient
redis
sweetify
psutil
django-nested-admin
daphne
channels