{% load static %}
{% load i18n %}

<div class='row'>
    <div class="col-md-8 site-info">
        <div class="border-bottom pb-2 mb-2">
            <h4 class="m-0 fw-bold">{% trans "Contact Us" %}</h4>
            <h6 class="m-0">{{ f_config.title }}</h6>
        </div>
        <div class="py-1">
            <i class="fa fa-map"></i> {{ f_config.address }}
        </div>
        <div class="py-1">
            <i class="fa fa-envelope"></i> {{ f_config.email }}
        </div>
        <div class="py-1">
            <i class="fa fa-phone"></i>
            <span class="phonenumber">{{ f_config.phone }}</span>
        </div>
        <div class="py-1"><i class="fa fa-globe"></i> {{ f_config.website }}</div>
    </div>
    <div class="col-md-4">
        <h3 class="border-bottom fw-bold">{% trans "Disclaimer" %}</h3>
        <p class="h5">
            {% trans "All data in this website application are taken from" %}
            <a href="{{ sister_config.sister_url }}" target="_blank">{{ sister_config.sister_url }}</a>
            {% trans "via Web Service. You can't change data from this website." %}
        </p>
    </div>
</div>
