{% load i18n static humanize %}

<div class='m-0'>
    <table class="table m-0 mb-3">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Functional Position" %}</th>
                <th class="text-center">{% trans "Legality" %}</th>
                <th class="text-center">{% trans "Start Date" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for p in jabfung.data %}
                <tr>
                    <td class="text-center" style="width: 17px;">{{ forloop.counter }}</td>
                    <td>{{ p.jabatan_fungsional }}</td>
                    <td class="text-center">{{ p.sk }}</td>
                    <td class="text-center">{{ p.tanggal_mulai }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center" colspan="4">{% trans "No data available" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

