{% load i18n static humanize %}

<div class='m-0'>
    <table class="table m-0 mb-3">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Subject" %}</th>
                <th class="text-center">{% trans "Semester" %}</th>
                <th class="text-center">{% trans "Credit" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pengajaran.data|slice:":30" %}
                <tr>
                    <td class="text-center" style="width: 17px;">{{ forloop.counter }}</td>
                    <td>{{ p.mata_kuliah }}</td>
                    <td class="text-center">{{ p.semester }}</td>
                    <td class="text-center">{{ p.sks_mk }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center" colspan="4">{% trans "No data available" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

