{% extends "frontend/layouts/base_without_sidebar.html" %}
{% load i18n static humanize %}

{% block before_sub_content %}
    <div class="my-5 text-center">
        <h1 class="mb-0">{% trans "Portofolio/Curriculum Vitae" %}</h1>
        <div class='my-1 text-center'>
            <span class='badge bg-light text-dark'>
                {% trans "Data accessed" %} {{ profil.accessed_at|naturaltime }}
                {% trans "from" %} <a href="{{ sister_config.sister_url }}" target="_blank">{{ sister_config.sister_url }}</a>
                {% trans "and will be updated at" %} {{ profil.expired_at|naturaltime }}
            </span>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mx-auto my-3">
    <div class="text-center mb-1">
        {% if object.metadata.picture_url %}
            <img class='sdm-picture' src="{{ object.metadata.picture_url }}" alt="{{ object.nama_sdm }}" />
        {% else %}
            <img class='sdm-picture' src="{% static 'backend/media/no-profile-picture.jpg' %}" alt="{{ object.nama_sdm }}" />
        {% endif %}
    </div>
    <div class="d-flex justify-content-center w-100 mt-3 mb-2">
        <a class="me-2" href="https://pddikti.kemdikbud.go.id/search/{{ object.nidn }}" target="_blank">
            <img class='img-thumbnail' style="height: 30px;" src="{% static 'backend/media/logo-pddikti.png' %}" alt="PDDikti" />
        </a>
        {% if lain.data.nira  %}
            <a class="me-2" href="https://sinta.kemdikbud.go.id/authors/detail?id={{ lain.data.nira }}&view=overview" target="_blank">
                <img class='img-thumbnail' style="height: 30px;" src="{% static 'backend/media/logo-sinta.jpg' %}" alt="Sinta" />
            </a>
            <a class="me-2" href="https://sinta3.kemdikbud.go.id/authors/profile/{{ lain.data.nira }}" target="_blank">
                <img class='img-thumbnail' style="height: 30px;" src="{% static 'backend/media/logo-sinta3.jpg' %}" alt="Sinta 3" />
            </a>
        {% endif %}
        {% if alamat.data.email %}
            <a class="me-2" href="https://scholar.google.com/scholar?q={{ alamat.data.email }}" target="_blank">
                <img class='img-thumbnail' style="height: 30px;" src="{% static 'backend/media/logo-gs.png' %}" alt="Google Scholar" />
            </a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="px-1 py-2 bg-light border my-3">
                {% include "frontend/elements/pd_identity.html" %}
            </div>

            <div class="accordion" id="peopleDetail">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-education-history">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-education-history" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Education History" %}
                        </button>
                    </h2>
                    <div id="content-education-history" class="accordion-collapse collapse show" aria-labelledby="panel-education-history">
                        <div class="accordion-body">{% include "frontend/elements/pd_education.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-specification">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-specification" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Skill Specification" %}
                        </button>
                    </h2>
                    <div id="content-specification" class="accordion-collapse collapse" aria-labelledby="panel-specification">
                        <div class="accordion-body">{% include "frontend/elements/pd_specification.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-functional">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-functional" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Functional Position" %}
                        </button>
                    </h2>
                    <div id="content-functional" class="accordion-collapse collapse" aria-labelledby="panel-functional">
                        <div class="accordion-body">{% include "frontend/elements/pd_functional.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-position">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-position" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Position" %}
                        </button>
                    </h2>
                    <div id="content-position" class="accordion-collapse collapse" aria-labelledby="panel-position">
                        <div class="accordion-body">{% include "frontend/elements/pd_position.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-assignment">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-assignment" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Assignment" %}
                        </button>
                    </h2>
                    <div id="content-assignment" class="accordion-collapse collapse" aria-labelledby="panel-assignment">
                        <div class="accordion-body">{% include "frontend/elements/pd_assignment.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-teaching">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-teaching" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Teaching" %}
                        </button>
                    </h2>
                    <div id="content-teaching" class="accordion-collapse collapse" aria-labelledby="panel-teaching">
                        <div class="accordion-body">{% include "frontend/elements/pd_teaching.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-research">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-research" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Research" %}
                        </button>
                    </h2>
                    <div id="content-research" class="accordion-collapse collapse" aria-labelledby="panel-research">
                        <div class="accordion-body">{% include "frontend/elements/pd_research.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-comservice">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-comservice" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Community Service" %}
                        </button>
                    </h2>
                    <div id="content-comservice" class="accordion-collapse collapse" aria-labelledby="panel-comservice">
                        <div class="accordion-body">{% include "frontend/elements/pd_comservice.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-publication">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-publication" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Publication" %}
                        </button>
                    </h2>
                    <div id="content-publication" class="accordion-collapse collapse" aria-labelledby="panel-publication">
                        <div class="accordion-body">{% include "frontend/elements/pd_publication.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-patent">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-patent" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Patent and Intelectual Property" %}
                        </button>
                    </h2>
                    <div id="content-patent" class="accordion-collapse collapse" aria-labelledby="panel-patent">
                        <div class="accordion-body">{% include "frontend/elements/pd_patent.html" %}</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-awards">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#content-awards" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans "Awards" %}
                        </button>
                    </h2>
                    <div id="content-awards" class="accordion-collapse collapse" aria-labelledby="panel-awards">
                        <div class="accordion-body">{% include "frontend/elements/pd_awards.html" %}</div>
                    </div>
                </div>
                
            </div>
            <div class='py-5 text-center'>
                <a href="{% url 'aurora.frontend.people.download' object.slugname object.id_sdm %}" class="btn btn-primary btn-lg">
                    <span class="fa fa-download"></span> {% trans "Download" %}
                </a>
                <div class='my-1 text-center'>
                    <span class='badge bg-light text-dark'>
                        {% trans "Data accessed" %} {{ profil.accessed_at|naturaltime }}
                        {% trans "from" %} <a href="{{ sister_config.sister_url }}" target="_blank">{{ sister_config.sister_url }}</a>
                        {% trans "and will be updated at" %} {{ profil.expired_at|naturaltime }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}