{% extends "frontend/layouts/base_without_sidebar.html" %}
{% load i18n static humanize %}

{% block before_sub_content %}
    <div class="jumbotron mb-3">
        <div class="container py-5 text-center">
            <h1 class='fw-bold'><i class='fa fa-newspaper-o'></i> {{ section_title }}</h1>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="w-50 mx-auto mb-5">
        <div class="my-2 text-center">
            <img class='mx-auto w-25 mb-3 img-thumbnail' src="{% url 'aurora.frontend.people.picture' object.slugname %}" alt="{{ object.nama_sdm }}" />
        </div>
        <table style="border: none; width: 100%;">
            <tr>
                <td style="width: 100px;">{% trans "Name" %}</td>
                <td style="width: 5px;">:</td>
                <td class="fw-bold">{{ object.nama_sdm }}</td>
            </tr>
            <tr>
                <td>{% trans "NIDN" %}</td>
                <td>:</td>
                <td class="fw-bold">{{ object.nidn }}</td>
            </tr>
            {% if object.nip|length > 1 %}
                <tr>
                    <td>{% trans "NIP" %}</td>
                    <td>:</td>
                    <td class="fw-bold">{{ object.nip }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>{% trans "Jenis SDM" %}</td>
                <td>:</td>
                <td class="fw-bold">{{ object.jenis_sdm }}</td>
            </tr>
            <tr>
                <td>{% trans "Unit" %}</td>
                <td>:</td>
                <td class="fw-bold">{{ object.unit|default_if_none:'-'  }}</td>
            </tr>
        </table>
        {{  }}
    </div>
</div>
{% endblock %}