@media only screen and (max-width: 768px) {

    body {
        font-size: 13px;
    }

    #navbar {
        padding: 0px;
        .navbar-brand h1 {
            font-size: 11.75px;
        }

        .navbar-brand h2 {
            font-size: 11.75px;
        }
        .logo {
            width: 225px;
        }
    }

    .post-media img {
        width: 100% !important;
    }

    #footer {
        .col-md-6 {
            padding: 0px;
        }
    }

    ol, ul {
        padding-left: 21px;
    }
}
