{% extends "frontend/layouts/base_without_sidebar.html" %}
{% load static i18n %}


{% block content %}
    {% block sub_content %}
    {% endblock %}
    {% if related_posts.count > 0 %}
        <div class="container mt-1 mb-5">
            <div class='card'>
                <div class='card-header bg-primary text-white font-weight-bold p-2'>{% trans "Related Posts" %} "{{ post.category.name }}"</div>
                <div class='card-body py-1 px-2'>
                    {% for rpost in related_posts %}
                        <div class='py-1'>
                            <a href='{% url "aurora.frontend.post.detail" rpost.date_created.year rpost.date_created.month rpost.date_created.day rpost.slugname %}'>
                                {{ rpost.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
